{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

    <div class="">
        <div class="title">Интернет-сайты</div>
        <div class="row">
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/euat2.png') }}" alt="Новый дизайн euat.ru">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Новый дизайн euat.ru</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">psd</span>#}
            {#<span class="tag tag-default">ai</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/almanah.png') }}" alt="Портал medalmanah.ru">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Портал Альманах медицинских событий</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">Symfony3</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">Schema.org</span>
                            <span class="tag tag-default">Twig</span>
                            <span class="tag tag-default">Dotrine2</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="0.25s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/euat.png') }}" alt="Сайт Евразийской Ассоциации Терапевтов">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Сайт Евразийской Ассоциации Терапевтов</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">Symfony3</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">Schema.org</span>
                            <span class="tag tag-default">Twig</span>
                            <span class="tag tag-default">Dotrine2</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="0.5s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/evrika.png') }}" alt="Социальная сеть для врачей">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Социальная сеть для врачей</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">Symfony2</span>
                            <span class="tag tag-default">Sonata Admin</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">Twig</span>
                            <span class="tag tag-default">Dotrine2</span>
                            <span class="tag tag-default">Sphinx</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="0.75s">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/igla.png') }}" alt="Сайт компании">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Сайт компании</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">php5</span>
                            <span class="tag tag-default">JQuery</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="1s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/vidal.png') }}" alt="vidal.ru">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Сайт-справочник лекарственных средств</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">Symfony2</span>
                            <span class="tag tag-default">Sonata Admin</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">Twig</span>
                            <span class="tag tag-default">Dotrine2</span>
                            <span class="tag tag-default">Sphinx</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="1.25s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/twiga.png') }}" alt="Сайт компании">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Сайт коммуникационной группы TWIGA</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">Laravel5</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">CSS 3</span>
                            <span class="tag tag-default">Blade</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="1.5s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/clarion.png') }}" alt="Интернет магазин">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Интернет магазин</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">php5</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">customCMS</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow flipInX" data-wow-offset="200" data-wow-delay="1.75s" >
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/promofm.png') }}" alt="Сайт-портал для ассоциации радио">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Сайт-портал для ассоциации радио</h4>
                        <p class="card-labels">
                            <span class="tag tag-default">php5</span>
                            <span class="tag tag-default">JQuery</span>
                            <span class="tag tag-default">customCMS</span>
                        </p>
                    </div>
                </div>
            </div>
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow fadeInUp" data-wow-offset="200">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/daantonio.png') }}" alt="Сайт-визитка для кафе">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сайт-визитка для кафе</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#<span class="tag tag-default">customCMS</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.25s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/pluggedin.png') }}" alt="Портал новостей игр">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Портал новостей игр</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">Symfony2</span>#}
            {#<span class="tag tag-default">Sonata Admin</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#<span class="tag tag-default">Twig</span>#}
            {#<span class="tag tag-default">Dotrine2</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/tvinkids.png') }}" alt="Сайт 'Детский Развлекательный Центр'">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сайт 'Детский Развлекательный Центр'</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#<span class="tag tag-default">customCMS</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.75s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/pristav.png') }}" alt="Сайт-визитка компании">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сайт-визитка компании адвокатов</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">bootstrap3</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" >#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/teaserlink.png') }}" alt="Сервис тизерной рекламы teaserlink">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сервис тизерной рекламы teaserlink</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#<span class="tag tag-default">customCMS</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.25s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/miltronic.png') }}" alt="Сайт-портал фитнес клуба">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сайт-портал фитнес клуба</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">Symfony2</span>#}
            {#<span class="tag tag-default">Sonata Admin</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#<span class="tag tag-default">Twig</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">less</span>#}
            {#<span class="tag tag-default">Dotrine2</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/mmg.png') }}" alt="Сайт-визитка для рекламной компании">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Сайт-визитка для рекламной компании</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">css3</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.75s">#}
            {#<div class="card-content">#}
            {#<div class="img-box">#}
            {#<img class="" src="{{ asset('bundles/app/images/vegasat.png') }}" alt="Интернет-магазин спутникового телевидения">#}
            {#</div>#}
            {#<div class="card-block">#}
            {#<h4 class="card-title">Интернет-магазин спутникового телевидения</h4>#}
            {#<p class="card-labels">#}
            {#<span class="tag tag-default">php5</span>#}
            {#<span class="tag tag-default">html5</span>#}
            {#<span class="tag tag-default">css3</span>#}
            {#<span class="tag tag-default">JQuery</span>#}
            {#</p>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
        </div>
        <div class="title">Мобильные приложения</div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/pluggedin2.png') }}" alt="Plugged In — новостное издание о мире видеоигр, кино и технологий. ">
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Plugged In — новостное издание о мире видеоигр, кино и технологий.
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.25s">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/sts.png') }}" alt="СТС Второй экран – это последний тренд и проводник за кулисы любимого
                            канала! Твой спутник в эфире СТС, смотреть телевизор с ним весело и интересно." />
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">СТС Второй экран – это последний тренд и проводник за кулисы любимого
                            канала! Твой спутник в эфире СТС.

                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/trn.png') }}" alt="TRN is an on demand health and fitness app, making it easy for you to TRN when you want, where you want and how you want." />
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">TRN is an on demand health and fitness app, making it easy for you to TRN
                            when you want, where you want and how you want
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.75s">
                <div class="card-content">
                    <div class="img-box">
                        <img class="" src="{{ asset('bundles/app/images/PianoCity.png') }}" alt="Номинирована на звание Лучшей Мобильной Игры Года и Лучшей Казуальной Игры Года по версии Games Connection!" />
                    </div>
                    <div class="card-block">
                        <h4 class="card-title">Номинирована на звание Лучшей Мобильной Игры Года и Лучшей Казуальной Игры Года по версии Games Connection!
                        </h4>
                    </div>
                </div>
            </div>
        </div>

        {#<div class="title">Продвижение сайтов</div>#}
        {#<div class="row">#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200">#}
                {#<div class="card-content">#}
                    {#<div class="img-box">#}
                        {#<img class="" src="{{ asset('bundles/app/images/bmk.png') }}" alt="Plugged In — новостное издание о мире видеоигр, кино и технологий. ">#}
                    {#</div>#}
                    {#<div class="card-block">#}
                        {#<p style="    margin-bottom: 0;">#}
                            {#Задача: увеличение оптовых продаж продукции Брестского мясокомбината<br />#}
                            {#Источники продвижение:#}
                        {#</p>#}
                            {#<ul>#}
                                {#<li>контекстная реклама</li>#}
                                {#<li>SEO продвижение</li>#}
                            {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.25s">#}
                {#<div class="card-content">#}
                    {#<div class="img-box">#}
                        {#<img class="" src="{{ asset('bundles/app/images/sts.png') }}" alt="СТС Второй экран – это последний тренд и проводник за кулисы любимого#}
                            {#канала! Твой спутник в эфире СТС, смотреть телевизор с ним весело и интересно." />#}
                    {#</div>#}
                    {#<div class="card-block">#}
                        {#<p style="    margin-bottom: 0;">#}
                            {#Задача: увеличение оптовых продаж продукции Брестского мясокомбината<br />#}
                            {#Источники продвижение:#}
                        {#</p>#}
                        {#<ul>#}
                            {#<li>контекстная реклама</li>#}
                            {#<li>SEO продвижение</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.5s">#}
                {#<div class="card-content">#}
                    {#<div class="img-box">#}
                        {#<img class="" src="{{ asset('bundles/app/images/trn.png') }}" alt="TRN is an on demand health and fitness app, making it easy for you to TRN when you want, where you want and how you want." />#}
                    {#</div>#}
                    {#<div class="card-block">#}
                        {#<h4 class="card-title">TRN is an on demand health and fitness app, making it easy for you to TRN#}
                            {#when you want, where you want and how you want#}
                        {#</h4>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3  card-box wow fadeInUp" data-wow-offset="200" data-wow-delay="0.75s">#}
                {#<div class="card-content">#}
                    {#<div class="img-box">#}
                        {#<img class="" src="{{ asset('bundles/app/images/PianoCity.png') }}" alt="Номинирована на звание Лучшей Мобильной Игры Года и Лучшей Казуальной Игры Года по версии Games Connection!" />#}
                    {#</div>#}
                    {#<div class="card-block">#}
                        {#<h4 class="card-title">Номинирована на звание Лучшей Мобильной Игры Года и Лучшей Казуальной Игры Года по версии Games Connection!#}
                        {#</h4>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    </div>
{% endblock %}

