<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8" />
    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="http://euat.ru{{ app.request.pathInfo }}" />

    {# CSS #}
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/tether/dist/css/tether.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/common/style/common2.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/vendor/animate.css/animate.min.css') }}">

    {# JS #}
    <script type="application/javascript" src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/vendor/tether/dist/js/tether.min.js') }}"></script>
    <script type="application/javascript" src="{{ asset('assets/vendor/wow/dist/wow.min.js') }}"></script>

    <script>
        new WOW().init();
    </script>
</head>
<body>
<div id="wrapper">
    <div class="container">
        <header>
            <nav class="navbar navbar-light bg-faded">
                <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
                <div class="collapse navbar-toggleable-xs" id="navbar-header">
                    <a class="navbar-brand" href="#">
                        <span class="project">Project</span><span class="work">WORK</span>
                    </a>
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Главная</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Портфолио</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Контакты</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="container-fluid">
        <div class="block-1">
            <div class="slider">
                <div class="title white center title-1">Мы делаем больше чем просто сайт</div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 portfolio-item">
                <div class="thumb">
                    <img src="{{ asset('bundles/app/images/almanah.png') }}">
                </div>
                <div class="text-box">
                    <div class="label">Альманах медицинских событий</div>
                </div>
            </div>
        </div>
    </div>

</div>
<footer>

</footer>

</body>